body {
  position: relative;
  min-height: calc(100svh);
  padding-bottom: 60px;
}

a {
  text-decoration: none;
}

button:disabled {
  cursor: not-allowed !important;
}

.card {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.clickable:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

[data-bs-theme="dark"] .clickable:hover {
  background-color: #2a2a2a;
}

.invalid-feedback {
  display: block;
}

.w-10 {
  width: 10% !important;
}

.w-15 {
  width: 15% !important;
}

.w-20 {
  width: 20% !important;
}

.w-30 {
  width: 30% !important;
}

.w-40 {
  width: 40% !important;
}

.w-45 {
  width: 45% !important;
}

.w-55 {
  width: 55% !important;
}

.w-60 {
  width: 60% !important;
}

.w-65 {
  width: 65% !important;
}

.w-70 {
  width: 70% !important;
}

.w-80 {
  width: 80% !important;
}

.w-90 {
  width: 90% !important;
}

.w-eighth {
  width: 12.5% !important;
}

.w-sixth {
  width: 16.666666% !important;
}

.w-third {
  width: 33.333333% !important;
}

@media (min-width: 1200px) {
  .col-fifth {
    flex: 0 0 auto;
    width: 20%;
  }
}
