body {
  position: relative;
  min-height: calc(100svh);
  padding-bottom: 60px;
}

a {
  text-decoration: none;
}

button:disabled {
  cursor: not-allowed !important;
}

.card {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.invalid-feedback {
  display: block;
}
